body {
    font-family: "Open Sans", sans-serif;
    color: #a7a9be;
    background-color: #0f0e17;
}

a {
    color: #f25f4c;
    text-decoration: none;
}

a:hover {
    color: #e53170;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    color: #fffffe;
}

button {
    background-color: #ff8906;
    color: #fffffe;
}

/* Add this class to any elements that need the 'Main' color */
.main-color {
    color: #fffffe;
}

/* Add this class to any elements that need the 'Highlight' color */
.highlight-color {
    color: #ff8906;
}

/* Add this class to any elements that need the 'Secondary' color */
.secondary-color {
    color: #f25f4c;
}

/* Add this class to any elements that need the 'Tertiary' color */
.tertiary-color {
    color: #e53170;
}

/* Add this class to any SVG elements that need the 'Stroke' color */
.stroke-color {
    stroke: black;
}


.row {
    display: flex;
}


.html {
    scroll-behavior: smooth;
  }


  .col-lg-6 {
    margin: 50px; /* Adjust this value as needed */
  }


