/* Michael Villaflor */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

:root {
  --top_navbar: 1.5rem;
  --background_top_left: #0f0e17;
  --background_bottom_right: #0f0e17;
  --font_color: #a7a9be;
  --search_color: #101223;
  --regular: 400;
  --semibold: 600;
  --bold: 700;
  --fonts_family: "Lato", sans-serif;
  --fonts_default: 1.125rem;
  --fonts-navbar: 1.125rem;
  --fonts_hero: 2.25rem;
  --fonts_genre_description: 1rem;
  --fonts_14: 0.875rem;
  --fonts_title: 1.5rem;
  --fonts_head_footer: 1.25rem;
  --fonts_copyright: 0.875rem;
  --heading: 3.064rem;
  --description_genre: 1.362rem;
  --title: 2.043rem;
  --film: 1.532rem;
  --headline_color: #ffffff;
  --secondary_color: #f25f4c;
  --tertiary_color: #e53170;
  --button_color: #ff8906;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--fonts_family);
  color: var(--font_color);
}

body {
  background: linear-gradient(
    to bottom right,
    var(--background_top_left),
    var(--background_bottom_right)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background-color: var(--background_top_left);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.navbrand {
  padding-left: 0;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav > li {
  margin-left: 2.438rem;
}

.nav-item a {
  font-weight: var(--semibold);
  color: var(--font_color);
}

.nav-link {
  color: var(--font_color) !important;
}

#header {
  width: 100%;
  height: 80px;
  background-color: black;
  margin-bottom: 4rem;
}

#logo {
  height: 60%;
  position: relative;
  z-index: 1;
}

#footer {
  margin-top: 12rem;
}

.credit h6 {
  color: var(--font_color);
  font-size: var(--fonts_head_footer);
  font-weight: var(--semibold);
}

.support a,
.services a {
  text-decoration: none;
  color: var(--font_color);
  font-weight: var(--regular);
  line-height: 1.532rem;
  display: flex;
}

.contact a {
  padding-right: 1.125rem;
}

.contact {
  padding-left: 3rem;
}

.copyright {
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center !important;
  font-size: var(--fonts_14);
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #ff8906;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 40px;
  background: radial-gradient(circle, #f39122, #ff8906);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 860px;
  transform: translate(-60%, -30%);
}

.close-button {
  margin-left: 66rem;
  top: 1rem;
  font-size: 3rem;
}

.nav li i {
  font-size: 1.5em;
  color: white;
  margin-right: 8px;
}

main {
  font-family: "Lato", sans-serif;
  display: flex;
  height: 120vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px;
}

.formContainer {
  margin-top: 100px;
  max-width: 700px;
  width: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #fff;
  padding: 25px 30px;
}

.formContainer .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.formContainer .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #000000, #ff8906);
}

.formContainer form .clienInformation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .clienInformation .inputBox {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.clienInformation .inputBox .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.clienInformation .inputBox input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.clienInformation .inputBox input:focus,
.clienInformation .inputBox input:valid {
  border-color: white;
}

form .clientType .clientTypeTitle {
  font-size: 20px;
  font-weight: 500;
}

form .clientType .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.clientType .category label {
  display: flex;
  align-items: center;
}

.clientType .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background: linear-gradient(135deg, #000000, #ff8906);
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #000000, #ff8906);
  color: #fff;
}

form .button input:hover {
  background: linear-gradient(-135deg, #000000, #ff8906);
}

#desciption {
  height: 120px;
  justify-content: baseline;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

#dotError {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.contact a:hover {
  color: #a7a9be;
  text-decoration: none;
}
.contact a {
  color: #a7a9be;
}
#button-addon2 {
  background-color: #e53170;
  border: #e53170;
}
